# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch
origins-fabric-1.20.x-dev
# idea
Minecraft-Source-1.20.1
apoli-1.20
apoli-1.20.x-dev
.claude
.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
